* {
    font-family: 'Work Sans', sans-serif;
        font-weight: 800;
}

/*vid edit*/
#backg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/*btn edit*/
#btn {
    border: solid 1px;
    border-radius: 50px;
    transition: 1s;
    background-color: rgb(9, 9, 171);
    color: white;

    
}
#btn:hover {
    transform: scale(1.2 , 1.2);
}

/*cont edit */
.cont {
    position: fixed;
    width: 100%;
}


/* login card*/
.log-card {
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    margin: auto;
    height: 350px;
    margin-top: 12%;
    padding: 2%;
    border-radius: 50px;
    opacity: 0.7;
    
}

span{
	color: red;
	font-size:0.6rem; 
	display: none;
}


/*form edit */
form {
    display: grid;
    grid-template-columns: auto;
    width: 75%;
}

input{
    border-radius: 20px;
    width: 100%;
    padding: 5px;
}

@media screen and (max-width: 479px) {
    .log-card {
        width: 100%;
        margin-top: 35%;
    }

}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .log-card {
        width: 70%;
        margin-top: 15%;
    }

}